*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  & a{
    text-decoration: none;
    color: #000;
  }
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

footer{
  font-weight: 500;
  padding: 15px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}